README.md
CLAUDE.md
TODO.md

{{- if ne .osid "linux-ubuntu-wsl" }}
# WSL-only fish functions
.config/fish/functions/swift-toolkit.fish
.config/fish/functions/raven-toolkit.fish
.config/fish/functions/pyraven.fish
{{- end }}
