README.md
CLAUDE.md
TODO.md

{{- if not .work }}
# Work-only fish functions
.config/fish/functions/swift-toolkit.fish
.config/fish/functions/raven-toolkit.fish
.config/fish/functions/pyraven.fish
{{- else }}
.config/sway
.config/hypr
.config/waybar
.config/alacritty
{{- end }}
