[user]
	email = {{ .email }}
	name = {{ .name }}

[core]
	editor = vim

[init]
	defaultBranch = master

[merge]
	tool = vimdiff

[push]
	default = simple
	autoSetupRemote = true

[http]
	followRedirects = true

[url "ssh://git@github.com/"]
	pushInsteadOf = https://github.com/
	pushInsteadOf = https://heliochronix@github.com/
