[user]
	email = {{ .email }}
	name = {{ .name }}
{{- if not .work }}
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOojMDbbIGIYXQx3DKIxRfJnKRZ10A4O7YVqtQboD3dW

[gpg]
	format = ssh

[commit]
	gpgsign = true
{{- end }}

[color]
	ui = auto

[core]
	editor = vim

[init]
	defaultBranch = master

[merge]
	tool = vimdiff

[push]
	default = simple
	autoSetupRemote = true

[http]
	followRedirects = true

[url "ssh://git@github.com/"]
	pushInsteadOf = https://github.com/
	pushInsteadOf = https://{{ .ghuser }}@github.com/
