[user]
	email = {{ .email }}
	name = {{ .name }}
[core]
	editor = vim
[merge]
	tool = vimdiff
[push]
	default = simple
	autoSetupRemote = true
[color]
	ui = auto
[http "https://gopkg.in"]
	followRedirects = true
[init]
	defaultBranch = master
